{% extends "base.html" %}

{% block content %}
  <div class="book-detail-container">
    <h1>書籍詳細</h1>
    
    <div class="image-container">
    <img src="{{ url_for('serve_image', book_id=book.book_id) }}" alt="{{ book.name }}" height="180px">  
    {% if book.page_img %}
      <img src="{{ url_for('serve_page_image', book_id=book.book_id) }}" alt="{{ book.name }}" height="180px"> 
    {% endif %}
    </div>
    
    <ul class="book-info-list">
      <li><strong>タイトル:</strong> {{ book.name }}</li>
      <li><strong>著者:</strong> {{ book.author }}</li>
      <li><strong>追加日:</strong> {{ book.add_date.strftime('%Y-%m-%d') if book.add_date else '' }}</li>
      <li><strong>ISBN:</strong> {{ book.code }}</li>
      <li><strong>タグ:</strong> {{ book.tag }}</li>
      <li><strong>感想:</strong> {{ book.memo }}</li>
    </ul>

    <div class="action-buttons">
      <form method="POST" action="{{ url_for('edit', book_id=book.book_id) }}" style="display: inline;">
        <button type="submit" class="edit-button">編集</button>
      </form>
      <form method="POST" action="{{ url_for('delete', book_id=book.book_id) }}" style="display: inline;">
        <button type="submit" class="delete-button">削除</button>
      </form>
    </div>
  </div>
{% endblock %}